<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Excepted</th>
            <th>Run</th>
            <th></th>
        </tr>
        <tr th:each="test, i : ${answers}" th:with="index=${i.index}">
            <td th:text="${tests[index].split(';')[0]}"></td>
            <td th:text="${answers[index][1]}"></td>
            <td th:text="${answers[index][0]}" class="success"></td>
        </tr>
    </table>
</div>
</body>
<script>
    const myParagraphs = document.querySelectorAll('.success');
    myParagraphs.forEach(item => {
        if (item.textContent === "true") {
            item.style.backgroundColor = 'green';
        } else {
            item.style.backgroundColor = 'red';
        }
    })
</script>
</html>